body {
    min-width: 752px;
    overflow-x: scroll;
}
#namediv, #startingmovesdiv {
    width: 59.5%;
    float: left;
    padding-right: .60%;
    min-width: 444px;
}

#looksdiv, #arbdiv {
    width: 39.5%;
    float: left;
    padding-right: .40%;
    min-width: 292px;
}

#statsdiv {
    width: 99%;
    clear: both;
    padding-right: 1%;
    min-width: 736px;
}

#damagediv, #armordiv, #hpdiv {
    width: 33%;
    float: left;
    padding-right: .33%;
    min-width: 244px;
}

#nameinput {
    height:1.8em;
    width:25%;
    vertical-align: text-top;
    margin-top: .1em;
}

.sectiontitle {
    background-color: #000000;
    color: #FFFFFF;
}

